@font-face{
	font-family: 'questrial';
	src: url('../../../asset/fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'alfa';
	src: url('../../../asset/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'amatic';
	src: url('../../../asset/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'comfortaa';
	src: url('../../../asset/fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
	url('../../../asset/fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype'),
	url('../../../asset/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

body{
	font-family: 'questrial';
}

.main-content{
	padding-left: 300px;
}
.admin .container{
	min-height: calc(100vh - 240px);
}

.card-panel{
	margin: 0;
}

.main-content .container{
	width: 90%;
}

#img{
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	position: absolute;
}

#img + label{
	text-align: center;
	padding: 10px;
	width: 330px;
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: #212121;
	display: block;
	cursor: pointer;
}

#img:focus + label,
#img + label:hover {
	background-color: #757575;
}

table tbody tr td a i.material-icons{
	color: #212112;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #212121;
	box-shadow: 0 1px 0 0 #212121;
}


input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
	color: #212121;
}

/*****************************/

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border: 2px solid #212121;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color: #212121;
}

footer.page-footer{
	margin-top: 20px;
	padding-top: 2px;
	background-color: #212;
}

footer.footer-copyright{
	height: 30px;
	border: 1px solid black;
}


/************/
.msg-container{
	z-index: 10;
	position: fixed;
	top: 2%;
	left: 30%;
	right: 30%;
	width: 500px;
	margin: 0 auto;
	overflow: hidden;
}
.msg {
	background-color: #b71c1c;
	height: 0;
	width: 0;
	padding: 0;
	color: white;
	margin: 0 auto;
	overflow: hidden;
	/*width: 500px;
	padding: 10px;
	overflow: hidden;*/
	transition: all 500ms ease-in-out;
}

table{
	margin-top: 30px;
}

.actv{
	width: 400px;
	height: auto;
	padding: 10px;
}

a.button-collapse .material-icons{
	color: #fff;
	font-size: 40px;
	/*border: 1px solid white;*/
	font-weight: 500;
}
/************/

@media screen and (max-width: 900px){
	.main-content{
		padding-left: 0;
	}
}

table.dataTable thead th{
	border-bottom: 1px solid #9e9e9e;
}

table.dataTable tbody td{
	border: none;
	
}


